:root {
  --background-primary: #001000;
  --background-secondary: #002000;
  --background-tertiary: #555;
  --color: #fff;
  --border: #80ff0080;
  --accent: #bbaaff;
  --error: #ff0000;
  --background-error: #ff000020;

  --whiteshadow1: #80ff0040;
  --whiteshadow2: #80ff0010;
  --whiteshadow3: #80ff0000;

  --r: .5rem;
  --spread: 0;
  --width: 1px;
}

html {
  font-size: 16px;
  margin: unset;
  font-family: Ubuntu;
}

body {
  overflow-x: hidden;
  background: var(--background-primary);
  color: var(--color);
  margin: unset;
}

h3,
h2 {
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  max-width: 36rem;
  font-style: italic;
  text-align: center;
}

hr {
  width: 50%;
}

#projects {
  position: relative;
  box-sizing: border-box;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 36rem;
  transform: translateX(-50%);
  left: 50%;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
}

.card {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
  flex: auto;
  flex-grow: 1;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: .25rem;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 1rem;
  border-radius: .5rem;
  background: var(--background-secondary);
  border: 1px solid var(--border);
  transition: border-color .2s;
  cursor: pointer;
}

.card ul {
  text-align: left;
}

.card * {
  z-index: 1;
}

.card::before {
  z-index: 0;
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: radial-gradient(at center, var(--whiteshadow1), var(--whiteshadow2), var(--whiteshadow3), var(--whiteshadow3));
  opacity: 0;
  content: "";
  transition: opacity .3s;
  transform: translate(-50%, -50%);
  left: var(--left);
  top: var(--top);
}

.card:hover::before {
  opacity: 1;
}

.card:hover {
  --spread: 8px;
}

code {
  background: #80ff0020;
  padding: 0rem .25rem;
  border-radius: .25rem;
  border: 1px solid #80ff0040;
}

.title {
  position: relative;
  font-size: 1.25rem;
}

a,
a:hover,
a:visited,
a:active,
.title>a,
.title>a:hover,
.title>a:visited,
.title>a:active {
  color: inherit !important;
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
  -moz-text-decoration-style: wavy;
  text-decoration-style: wavy;
}

.card a,
.card a:visited,
.card a:hover,
.card a:active {
  color: #80ff00 !important;
}

@keyframes bg {
  0% {
    background: linear-gradient(45deg, #f00, #00f);
  }

  50% {
    background: linear-gradient(45deg, #f00, #00f);
  }

  100% {
    background: linear-gradient(45deg, #f00, #00f);
  }
}

.dots {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  filter: contrast(7);
}

.dots:nth-child(1) {
  --mask: radial-gradient(at center, #0000, #0000, #fff);
}

.dots:nth-child(2) {
  --mask: linear-gradient(to top right, #fff, #0000, #0000, #0000, #fff);
}

#images {
  left: 50vw;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
}

.dots::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  content: "";
}

.dots:nth-child(1)::before {
  background: radial-gradient(#0f0, transparent, transparent, transparent) 0 0/1em 1em space;
}

.dots:nth-child(2)::before {
  background: radial-gradient(#ff0, transparent, transparent, transparent) 0 0/1em 1em space;
}

/*
.cont {
  top: 0;
  height: 100vh;


  border-radius: 1rem;
  backdrop-filter: blur(4px);
  transform: translateY(-1rem);
  background: #33333380;
  position: relative;
  box-shadow: 0 0 1rem 0 #888;
  height: calc(100vh - 8rem);
  width: calc(100vw - 8rem);
  margin: 4rem;
  margin-bottom: 8rem;
  min-width: 15rem;
} */
/*
.cont:nth-child(1) { background: url(./messagin.png); }
.cont:nth-child(2) { background: url(./hadron.png); }
.cont:nth-child(3) { background: url(./OS.png); }
.cont:nth-child(4) { background: linear-gradient(#7f0, #70f); } */
